@import url('reset.css');
@import url('normalize.css');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    /* height: 100vh; */
    background: rgb(53,105,125);
    background: radial-gradient(circle, rgba(53,105,125,1) 0%, rgba(162,119,149,1) 100%);
    color: #fff;
}
.header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.header h1 {
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 610px;
    margin: 0 auto;
    letter-spacing: 12px;
    padding: 30px 0; 
}
.header p {
    text-align: center;
    padding-top: 30px;
}
.header .offer {
    padding-top: 293px;
    padding-bottom: 422px;
}

/*Друга секція*/
.about_info {
    display: flex;
    justify-content: space-between;
    padding-top: 127px;
}
.about_info h2{
    padding-bottom: 46px;
}
.info {
    width: 650px;
    margin-top: 63px;
}
.btn_info {
    width: 203px;
    padding: 16px ;
    background-color: #ff2b4a;
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin-top: 96px;
}
